<ngx-ui-loader></ngx-ui-loader>


<div class="container"
     infiniteScroll
     [infiniteScrollDistance]="scrollDistance"
     [infiniteScrollUpDistance]="scrollUpDistance"
     [infiniteScrollThrottle]="throttle"
     (scrolled)="onScrollpendingCards()">
  <div class="input-group md-form form-sm form-2 pl-0 search-input">
    <input class="form-control my-0 py-1 red-border"
           type="text"
           placeholder="Search"
           aria-label="Search"
           [formControl]="searchInput">
    <div class="input-group-append">
      <span class="input-group-text red lighten-3"
            id="basic-text1">
        <i class="fa fa-search text-grey"
           aria-hidden="true"></i>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6 col-12"
         *ngFor="let book of books">
      <div class="card-container">
        <div class="card-header">
          {{book?.volumeInfo?.title}}
        </div>
        <div class="card-body">
          <div class="image-container">
            <img [src]="book?.volumeInfo?.imageLinks.smallThumbnail"
                 alt="Book Image"
                 *ngIf="book?.volumeInfo?.imageLinks?.smallThumbnail">
            <img src="/assets/images/default-book-image.png"
                 alt="Default Image"
                 *ngIf="!book?.volumeInfo?.imageLinks?.smallThumbnail">
          </div>
          <div class="card-details">
            <div class="title"
                 *ngIf="book?.volumeInfo?.publisher"><span>Publisher: </span> {{book?.volumeInfo?.publisher}}</div>
            <div class="title"
                 *ngIf="!book?.volumeInfo?.publisher"><span>Publisher: </span> Unknown</div>
            <div class="title"
                 *ngIf="book?.volumeInfo?.publishedDate"><span>published Date: </span>
              {{book?.volumeInfo?.publishedDate}}</div>
            <div class="title"
                 *ngIf="!book?.volumeInfo?.publishedDate"><span>published Date: </span>
              {{book?.volumeInfo?.publishedDate}}</div>
          </div>
        </div>
        <div class="card-footer"
             (click)="openDialog(book)">
          <div class="show-more">View Details</div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="books && books.length == 0" class="No-Result">
    No Results Found
  </div>
</div>